body
{
    background-color: #3c3c3b;

    .main-container
    {
        #root
        {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            grid-gap: 80px;

            .edisodeBlock
            {
                padding: 20px;
                background-color: #fff;
                border: 1px solid;
                box-shadow: 5px 6px #888;
                border-radius: 30px;
                position: relative;
                min-width: 246px;

                .edisodeText
                {
                    position: relative;
                    max-width: 250px;
                }

                .edisodeHeader
                {
                    border: 1px solid;
                    margin-bottom: 1rem;
                    border-radius: 9px;
                    text-align: center;
                    box-shadow: -4px 3px 0 1px #888
                }
            }
        }
    }


    @media only screen and (min-width: 768px) {
        .main-container
        {
             margin: 0 auto;
             max-width: 1200px;
        }
    }

}


